.login-module{
    height: relative;
    width: 100%;
    background-color: white;
    background-origin: shadow 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 

}
.formlogin{
    width: 100%;
}
.Login_tab{
    direction: rtl;
    background-color:white;
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    margin-top:5%;
}
.Login_tabs{
    background-color: #212121;
}
.Login_tabLink{
    font-weight: 30px;
}