.newQuestionPopUp{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; 
    direction: rtl;
    background-color:white;
    width: 500px;
    height: 350px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top:5%;
}
.newQuestionToolBar{
    display: flex;
    flex:.5;
    justify-content: flex-start;
    width: 100%;
    background-color: #f5f6f7;
    border-bottom: 1px solid #b7b3b3;
   
}
.newQuestionHeader{
    display: flex;
    flex:2;
    justify-content: flex-start;
    width: 100%;
}
.newQuestionbody{
    display: flex;
    flex:3;
    justify-content: flex-start;
    width: 100%;

}