.root{
    width: 100%;
    display:flex;
    flex:1;
    width:100%;
    height:55px;
    flex-direction:row;
    background-color:'#202124';
}

.leftSide{
    display: flex;
    flex:1;

}
.middleBar{
    display:flex;
    flex:1.5;
    justify-content: center;
    align-items: center;
    
    
}
.RightSide{
    display:flex;
 
}
.menuButton{
 margin-left: -12;
 margin-right: 40,
  }
  
